#admin-holder .trigger {
    font-size: 15pt;
    line-height: 64px;
    padding: 0 2em;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

#admin-holder {
    min-height: 100vh;
}

#admin-holder .trigger:hover {
    color: #1890ff;
}

#admin-holder .logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 1em ;
}