.login-holder .login-form-button {
    width: 100%;
}

.login-logo .login-sub-header {
    text-align: center;
    margin-bottom: 4vh;

}

.login-logo h2 {
    font-family: "Lobster Two", sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 4vh;
    color: #282d32;
}
